<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="system" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/TabularDataPackage/Logs/log.txt" archiveFileName="${specialfolder:folder=CommonApplicationData}/SIMSBulkImport/Logs/Archive/log_{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" layout="${longdate}|${level}|${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="system"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
