<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?ifndef $(env.APPVEYOR)?>
  <?define APPVER="1.0.0.0"?>
  <?else?>
  <?define APPVER=$(env.APPVEYOR_BUILD_VERSION)?>
  <?endif ?>

  <Product Id="*" Name="Tabular Data Package Builder" Language="1033"
           Version="$(var.APPVER)"
           Manufacturer="Matt Smith" UpgradeCode="0940725d-809b-4111-b115-d4c121031abb">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="MainFeature" Title="Tabular Data Package Builder" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProductStartMenu" />
    </Feature>

    <Icon Id="icon.ico" SourceFile="..\..\Logo\data-wrench.ico" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPURLINFOABOUT">https://github.com/matt40k/TabularDataPackage</Property>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Tabular Data Package Builder" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Tabular Data Package Builder">
          <Component Id="ProductStartMenu">
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Microsoft\[ProductName]" Name="installed" Type="integer" Value="1"
                           KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="ProductComponentMain" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetPath)" KeyPath="yes">
          <Shortcut Id="StartMenuShort" Name="Tabular Data Package Builder" Advertise="yes" Icon="icon.ico" WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" />
        </File>
      </Component>
      <Component Id="ProductComponentMainConfig" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetPath).config" />
      </Component>
      <Component Id="ProductComponentLicenseJson" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetDir)License.json" />
      </Component>
      <Component Id="ProductComponentLicenseDll" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetDir)License.dll" />
      </Component>
      <Component Id="ProductComponentPackageDll" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetDir)DataPackage.dll" />
      </Component>
      <Component Id="ProductComponentJsonDll" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="ProductComponentNLogDll" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetDir)NLog.dll" />
      </Component>
      <Component Id="ProductComponentIcon" Directory="INSTALLFOLDER">
        <File Source="$(var.TabularDataPackageBuilder.TargetDir)data-wrench.ico" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>